<component name="ArtifactManager">
  <artifact type="war" name="SpringSecrityTest:war">
    <output-path>$PROJECT_DIR$/../SpringSecrityTest/target</output-path>
    <root id="archive" name="SpringSecrityTest-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringSecrityTest:war exploded" />
    </root>
  </artifact>
</component>